.TableMaintenance{

}
.TextSize{
    font-size: 13px;
    border-radius: 0;
    border: 0;
    margin: 0;
}
th{
    font-size: 13px;
    border-color: beige;
}
td{
    border-color: beige !important;
    border-style: solid !important;
    border-width: 0 !important;
}
