.TableListCar{
    background: var(--app-color-main);
    font-family:  var(--font-italic-regular) ;
    color: var(--app-background);
    text-align: center;
    padding: 10px;
}
.Button{
    width: 155px;
    margin: 10px;
}
