.FormSearch{
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background: var(--app-color-main);
    font-family:  var(--font-italic-regular) ;
    color: var(--app-background);

    border-radius: 5px;
}
.Button{
    margin: 10px auto;

}
