.Navbar{
    font-family: var(--font-italic-regular);
    width: 100%;
    background: var(--app-color-main) !important;
    margin-bottom: 30px;

}
.Element{
    width: 30%;
    margin: 10px;
}
.UserName{
    width: 20%;
    color: var(--app-background);
    margin: 30px 20px 0;
}
.Brand{
    width: 50px;
}
.Button{
    margin: 10px;
}
